In [41]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import seaborn as sns

header = ['age','workclass','fnlwgt','education','education_num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
train_df = pd.read_csv('Downloads/adult.data', names = header)
test_df = pd.read_csv('Downloads/adult.test', comment = '|', names = header) #Comment = '|' to ignore first line

In [2]:
train_df.head()

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [27]:
train_df.shape

(32561, 15)

In [50]:
test_df.head()

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [32]:
test_df.shape

(16281, 15)

In [47]:
adult = pd.concat([test_df, train_df])

In [54]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48842 entries, 0 to 32560
Data columns (total 15 columns):
age               48842 non-null int64
workclass         48842 non-null object
fnlwgt            48842 non-null int64
education         48842 non-null object
education_num     48842 non-null int64
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null int64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    48842 non-null object
income            48842 non-null object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [55]:
adult.describe()

,age,fnlwgt,education_num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [4]:
#Check if there is missing values 
adult.isnull().sum() #no NaN 

for i,j in zip(adult.columns,(adult.values.astype(str) == '?').sum(axis = 0)):
    if j > 0:
        print(str(i) + ': ' + str(j) + ' missing')    

#workclass: 2799 missing
#occupation: 2809 missing
#native-country: 857 missing

Should we remove these 3 features?
Need to compare results with and without them.

In [5]:
#adult2 = adult.drop(['workclass', 'occupation', 'native-country'], axis=1)

## Exploratory Analysis
Compute basic statistics on the data to understand it better. E.g., what are the distributions of the positive vs.
negative classes, what are the distributions of some of the numerical features? what are the correlations between
the features? how does the scatter plots of pair-wise features look-like for some subset of features?

In [53]:
# Reformat income column
adult['income']=adult['income'].map({'<=50K': 0, '>50K': 1, '<=50K.': 0, '>50K.': 1}) #WHY IS THIS NOT WORKING

In [52]:
adult.head()

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,NaN
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,NaN
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,NaN
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,NaN
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,NaN

In [45]:
# Count of >50K & <=50K
sns.countplot(adult['income'],label="Count")
sns.plt.show()

ValueError: min() arg is an empty sequence

## Data Preparation

One-hot encode categorical variables.

In [3]:
onehotencoder = OneHotEncoder()
X_train_adult = onehotencoder.fit_transform(train_df[:-1]).toarray()
X_test_adult = onehotencoder.fit_transform(test_df[:-1]).toarray()

In [45]:
X_train_adult.shape #why is there missing one row?

(32560, 22146)

In [48]:
X_test_adult.shape

(16280, 13263)

In [4]:
y_train_adult = train_df.iloc[:,-1]
y_test_adult = test_df.iloc[:,-1]

# Encode '<=50k' as 0, '>50k' as 1
y_train_adult = y_train_adult.replace('<=50K', 0, regex=True)
y_train_adult = y_train_adult.replace('>50K', 1, regex=True)
y_test_adult = y_test_adult.replace('<=50K', 0, regex=True)
y_test_adult = y_test_adult.replace('>50K', 1, regex=True)

In [83]:
y_test_adult.tail()

16276    0
16277    0
16278    0
16279    0
16280    1
Name: income, dtype: int64

In [84]:
y_train_adult.shape

(32561,)

In [85]:
y_test_adult.shape

(16281,)